In [12]:
import pandas as pd
import numpy as np
import json

In [17]:
vaccdata = pd.read_csv("NYData.csv")
vaccdata

,Age Groups,Sample,Jul,Jul_CI,Aug,Aug_CI,Sep,Sep_CI,Oct,Oct_CI,...,Jan,Jan_CI,Feb,Feb_CI,Mar,Mar_CI,Apr,Apr_CI,May,May_CI
0,6 mos-17 yrs,"2,554",3.8,(+2.2),8.9,(+2.3),23.1,(+2.6),42.5,(+2.9),...,63.1,(+3.0),65.6,(+3.0),66.2,(+3.1),67.2,(+3.1),68.1,(+3.2)
1,6 mos-4 yrs,906,2.9,(+1.6),8.5,(+2.4),26.4,(+4.0),45.4,(+4.5),...,68.7,(+4.7),74.3,(+4.9),75.1,(+5.0),75.4,(+5.0),76.3,(+5.1)
2,5-12 yrs,"1,036",0.0,0,10.8,(+4.8),24.6,(+4.8),43.6,(+4.8),...,63.1,(+4.6),64.4,(+4.6),64.8,(+4.7),66.2,(+4.7),67.2,(+4.9)
3,13-17 yrs,612,0.0,0,6.3,(+2.3),17.5,(+3.7),38.0,(+5.1),...,57.5,(+5.6),59.7,(+5.7),60.6,(+5.7),61.0,(+5.8),61.7,(+5.9)
4,18+ yrs,"2,848",0.0,0,1.7,(+0.8),7.9,(+1.6),23.0,(+2.4),...,39.2,(+2.7),41.3,(+2.9),42.3,(+2.9),42.8,(+2.9),43.1,(+2.9)
5,18-64 yrs,"2,152",0.0,0,0.0,0,7.6,(+2.0),20.8,(+2.5),...,35.8,(+3.1),38.1,(+3.3),38.6,(+3.3),39.0,(+3.3),39.4,(+3.3)
6,18-64 yrs at high risk,462,0.0,0,0.0,0,7.2,(+2.9),24.4,(+5.7),...,46.7,(+7.1),49.2,(+7.3),50.0,(+7.3),51.5,(+7.4),51.5,(+7.4)
7,18-64 yrs not high risk,"1,658",0.0,0,0.0,0,7.6,(+2.4),19.9,(+2.9),...,33.4,(+3.5),35.6,(+3.7),36.1,(+3.7),36.1,(+3.7),36.6,(+3.9)
8,18-49 yrs,"1,425",0.0,0,0.0,0,7.8,(+2.5),19.5,(+3.3),...,33.1,(+3.9),35.1,(+3.9),35.9,(+3.9),35.9,(+3.9),35.9,(+3.9)
9,18-49 yrs at high risk,212,0.0,0,0.0,0,0.0,0,19.0,(+7.3),...,40.4,(+10.2),42.4,(+10.4),44.0,(+10.6),44.0,(+10.6),44.0,(+10.6)
10,18-49 yrs not high risk,"1,192",0.0,0,0.0,0,7.7,(+2.9),19.2,(+3.5),...,31.7,(+4.1),33.8,(+4.3),34.5,(+4.3),34.5,(+4.3),34.5,(+4.3)
11,50-64 yrs,727,0.0,0,0.0,0,7.1,(+2.4),23.8,(+4.3),...,42.3,(+5.7),45.2,(+5.9),45.2,(+5.9),46.4,(+5.9),47.9,(+6.5)
12,65+ yrs,696,0.0,0,0.0,0,9.4,(+2.9),32.6,(+4.9),...,54.2,(+5.7),55.7,(+5.7),58.0,(+6.1),59.1,(+6.1),59.1,(+6.1)

In [18]:
weatherdata = pd.read_csv("NYWeather.csv")

In [20]:
weatherdata.head()

,STATION,NAME,DATE,PRCP,SNOW,SNWD,TAVG,TMAX,TMIN
0,USW00094728,"NY CITY CENTRAL PARK, NY US",7/1/2015,0.39,0.0,0,75.5,82,69
1,USW00094728,"NY CITY CENTRAL PARK, NY US",7/2/2015,0.00,0.0,0,74.5,80,69
2,USW00094728,"NY CITY CENTRAL PARK, NY US",7/3/2015,0.00,0.0,0,74.0,82,66
3,USW00094728,"NY CITY CENTRAL PARK, NY US",7/4/2015,0.00,0.0,0,72.0,75,69
4,USW00094728,"NY CITY CENTRAL PARK, NY US",7/5/2015,0.00,0.0,0,75.5,83,68

In [21]:
monthNYdata = pd.read_csv("MonthNYData.csv")

In [22]:
monthNYdata

,STATION,NAME,DATE,PRCP,SNOW,TAVG,TMAX,TMIN
0,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-07,3.97,0.0,78.8,85.9,71.7
1,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-08,2.35,0.0,79.0,86.9,71.0
2,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-09,3.28,0.0,74.4,82.6,66.3
3,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-10,3.91,0.0,58.0,65.4,50.7
4,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-11,2.02,0.0,52.8,59.3,46.3
5,USW00094728,"NY CITY CENTRAL PARK, NY US",2015-12,4.72,0.0,50.8,56.3,45.3
6,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-01,4.41,27.9,34.5,40.8,28.2
7,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-02,4.41,4.1,37.8,44.9,30.7
8,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-03,1.17,0.9,48.9,57.4,40.4
9,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-04,1.62,0.0,53.3,62.2,44.4
10,USW00094728,"NY CITY CENTRAL PARK, NY US",2016-05,3.76,0.0,62.8,70.6,55.0